.right-links-pokeapps {
  display: flex;
  margin: 0;
}

.right-links-pokeapps a {
  margin-right: 12px;
  transition: 350ms;
}

.right-links-pokeapps a:hover {
  color: #88FFDB;
}

@media screen and (max-width: 790px) {
  .right-links-pokeapps {
    justify-content: flex-end;
    margin-top: 25px;
  }
}