.App {
  color: #dcdcdc;
  height: 100%;
  text-align: center;
}

#root {
  height: 100%;
}

a {
  color: #dcdcdc;
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1, h2, a {
  font-family: 'Nixie One', sans-serif;
}