.project-right {
  display: flex;
  height: 100%;
  position: relative;
}

.right-title-small-screen {
  display: none;
}

.right-img {
  display: flex;
  justify-content: right;
  width: 100%;
}

.right-img img {
  border-radius: 10px;
  width: 60vw;
}

.right-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: left;
}

.right-title {
  font-family: 'Nixie One', sans-serif;
  font-size: clamp(20px, 3vw, 27px);
  font-weight: bold;
  margin: 0 0 15px 0;
}

.right-description-container {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: left;
  margin: 0 auto;
}

.right-description {
  align-items: center;
  background-color: #3F3F3F;
  border-radius: 10px;
  display: flex;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: clamp(16px, 1.5vw, 22px);
  height: 100%;
  padding: 20px;
  width: 55%;
}

.right-tech {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: clamp(14px, 1.5vw, 17px);
  margin-top: 15px;
  width: 100%;
}

.right-tech p {
  float: left;
  margin: 0;
  width: 30%;
}

.right-links {
  display: flex;
  margin: 0 0 90px 0;
}

.right-links a {
  margin-right: 12px;
  transition: 350ms;
}

.right-links a:hover {
  color: #88FFDB;
}

@media screen and (max-width: 790px) {
  .project-right {
    flex-direction: column;
    position: unset;
  }

  .right-title-small-screen {
    font-family: 'Nixie One', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 20px 0;
  }

  .right-img {
    display: flex;
    justify-content: flex-end;
    order: 0;
  }

  .right-img img {
    width: 95%;
  }

  .right-details {
    align-items: center;
    position: unset;
    order: 1;
    text-align: center;
  }

  .right-title {
    display: none;
  }

  .right-description-container {
    align-items: right;
    display: flex;
    height: unset;
    justify-content: flex-end;
    text-align: right;
  }
  
  .right-description {
    background-color: transparent;
    font-size: clamp(14px, 2.5vw, 17px);
    padding: unset;
    width: 95%;
  }

  .right-tech {
    font-size: clamp(14px, 2.5vw, 17px);
    margin: unset;
    text-align: right;
  }

  .right-tech p {
    float: right;
    font-style: italic;
    width: 90%;
  }

  .right-links {
    justify-content: flex-end;
    margin: 25px 0 55px 0;
  }
}