.about {
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.about h2 {
  font-size: clamp(30px, 8vw, 50px);
  margin: 60px 0 20px 0;
  text-align: left;
}

.about-details {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: clamp(16px, 3vw, 19px);
  max-width: 1000px;
  text-align: left;
}

.about-tech-container {
  display: flex;
  text-align: left;
}

.inline-tech {
  margin: 0 20px;
}

.inline-tech p {
  display: flex;
  font-family: 'Libre Baskerville', sans-serif;
}

@media screen and (min-width: 1070px) {
  .about h2 {
    font-size: clamp(50px, 4.5vw, 60px);
  }

  .about-details {
    max-width: 1200px;
  }

  .about-details, .about-tech-container {
    font-size: clamp(20px, 2vw, 24px);
  }
}

@media screen and (max-width: 400px) {
  .about-tech-container {
    flex-direction: column;
  }

  .inline-tech {
    margin: 0;
  }

  .inline-tech p {
    margin: 10px 0 0 0;
  }
}