.project-left {
  display: flex;
  height: 100%;
  position: relative;
}

.left-title-small-screen {
  display: none;
}

.left-img img {
  border-radius: 10px;
  width: 60vw;
}

.left-details {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: right;
}

.left-title {
  font-family: 'Nixie One', sans-serif;
  font-size: clamp(20px, 3vw, 27px);
  font-weight: bold;
  margin: 0 0 15px 0;
}

.left-description-container {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: flex-end;
  margin: 0 auto;
}

.left-description {
  align-items: center;
  backdrop-filter: blur(7px);
  background-color: #3f3f3fd6;
  border-radius: 10px;
  display: flex;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: clamp(16px, 1.5vw, 22px);
  height: 100%;
  padding: 20px;
  width: 55%;
}

.left-tech {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: clamp(14px, 1.5vw, 17px);
  font-style: italic;
  margin-top: 15px;
  width: 95%;
}

.left-tech p {
  float: right;
  margin: 0;
  width: 30%;
}

.left-links {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 90px 0;
}

.left-links a {
  margin-right: 12px;
  transition: 350ms;
}

.left-links a:hover {
  color: #88FFDB;
}

@media screen and (min-width: 1800px) {
  .left-img img {
    width: 50vw;
  }
}


@media screen and (min-width: 1070px) {
  .left-title {
    font-size: clamp(27px, 3vw, 40px);
  }

  .left-description {
    font-size: clamp(19px, 1.5vw, 34px);
    padding: 30px;
  }

  .left-description p {
    margin: 0 10px 0 0;
  }

  .left-tech {
    font-size: clamp(16px, 1.5vw, 25px);
  }
}


@media screen and (max-width: 790px) {
  .project-left {
    flex-direction: column;
    position: unset;
  }

  .left-title-small-screen {
    font-family: 'Nixie One', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    margin: 0 0 20px 0;
  }

  .left-img {
    display: flex;
  }

  .left-img img {
    width: 100%;
  }

  .left-details {
    align-items: flex-start;
    justify-content: center;
    position: unset;
    text-align: center;
  }

  .left-title {
    display: none;
  }

  .left-description-container {
    align-items: right;
    display: flex;
    height: unset;
    justify-content: flex-start;
    text-align: left;
  }
  
  .left-description {
    background-color: transparent;
    font-size: clamp(16px, 3vw, 20px);
    padding: unset;
    width: 100%;
  }

  .left-tech {
    display: flex;
    font-size: clamp(14px, 2.5vw, 17px);
    justify-content: left;
    margin: unset;
    text-align: left;
  }

  .left-tech p {
    float: unset;
    width: 90%;
  }

  .left-links {
    justify-content: flex-start;
    margin: 25px 0 55px 0;
  }
}