.home-container {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}

.home-container h1 {
  font-size: 60px;
  margin: 60px 0 20px 0;
  text-align: left;
}

.intro-container {
  display: flex;
}

.profile-img {
}

.profile-img img {
  border-radius: 7px;
  width: 266px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
}

.call-to-action p {
  font-size: 20px;
  text-align: left;
}

.call-to-action button {
  background-color: transparent;
  border: 1.9px solid #dcdcdc;
  border-radius: 7px;
  color: #dcdcdc;
  font-family: 'Nixie One', sans-serif;
  font-size: 20px;
  padding: 10px 0;
  width: 250px;
}